Repository rodrigo0567/Cirrosifier-TRAINEES1, pull requests merged in 2024-05, with the labels that each got.

#11 EDA Numericos - Normalize palettes and fix graphics
  .gitignore
  notebooks/eda_numericos.ipynb
Labels: EDA, Numéricos

#12 updates eda_coategoricos
  notebooks/eda_categoricos.ipynb
Labels: EDA, Categóricos

#14 EDA Numéricos - add markdown comments
  notebooks/eda_numericos.ipynb
Labels: EDA, Numéricos

#16 Final EDA Notebook
  notebooks/eda_completo.ipynb
Labels: Limpeza, EDA, Categóricos, Numéricos

#21 EDA Completo - fix quote bug, colors and arrangement
  notebooks/eda_completo.ipynb
Labels: Limpeza, EDA, Categóricos, Numéricos
